@use "../../styles/global.scss";

.run-game {
  width: 100%;
  height: 100%;
  padding: 0 16rpx;

  &-top {
    .handle-team {
      display: flex;
        justify-content: space-between;

      .homeTeam, .awayTeam {
      }

      .score-node {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
