$card-padding-left: 21rpx;
$card-padding-right: 21rpx;
$card-padding-top: 21rpx;
$card-padding-bottom: 21rpx;

$card-padding: $card-padding-top $card-padding-right $card-padding-bottom $card-padding-left;

.card {
  background: white;
  box-shadow: 0 3px 10px 0 rgba(238,238,238,.5);
  padding: $card-padding;
  border-radius: 20rpx;

  &-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
}
