.page-title {
  position: relative;
  background: #fff;
  z-index: 100;

  &-content {
    position: relative;
    height: 44px;
    display: flex;
    align-items: center;

    // 返回按钮
    .back-button {
      position: absolute;
      left: 8px;
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 16px;

      &:active {
        background-color: rgba(0,0,0,0.1);
      }
    }

    // 标题包装器
    .title-wrapper {
      width: 100%;
      padding: 0 44px;
      text-align: center;

      .page-title-content--title {
        font-size: 17px;
        font-weight: 500;
        color: #333;
      }
    }
  }
}
