$image-width: 70rpx;
$image-height: 70rpx;

.avatar {
    padding: 0 12rpx;

    &-top {
        display: flex;
        align-items: center;
        gap: 12rpx;
    }

    &-bottom {}

    &-vertical {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    image {
        width: $image-width;
        height: $image-height;
    }

    text {
        font-size: 28rpx;
    }

    &-left {
        justify-content: flex-start;
    }

    &-right {
        justify-content: flex-end;
    }
}
