$image-width: 50rpx;
$image-height: 50rpx;

.avatar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12rpx;

    &-top {
        display: flex;
        align-items: center;
        gap: 12rpx;

        .image-container {
            position: relative;
        }
    }

    &-bottom {
        flex: 1;
    }

    &-vertical {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    image {
        width: $image-width;
        height: $image-height;
    }

    text {
        font-size: 28rpx;
    }

    &-left {
        justify-content: flex-start;
    }

    &-right {
        justify-content: flex-end;
    }
}
