.avatar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100rpx;
  height: 100rpx;
  border-radius: 50rpx;
  background: #3b82f6;

  .initial {
    color: white;
    font-size: 52rpx;
    font-weight: 700;
  }
}

