.green-btn {
  background: #dcfce7 !important;
  color: #16a34a !important;
}

.blue-btn {
  background: #dbeafe;
  color: #2563eb;
}

.red-btn {
  background: #fee2e2 !important;
  color: #dc2626 !important;
}

.yellow-btn {
  background: #fef9c3;
  color: #ca8a04;
}

.primary-btn {
  background: #3b82f6;
  color: #ffffff;
}
