//tab-bar
$--tab-bar-height: 100rpx;
$--tab-bar-item-gap: 6rpx;

$--tab-bar-text-normal-color: #7A7E83;
$--tab-bar-text-active-color: #3cc51f;
$--tab-bar-bg-color: #ffffff;

$--tab-bar-text-font-size: 16rpx;
$--tab-bar-icon-font-size: 50rpx;
