@import "../assets/icon/iconfont";
@import "../styles/variables";

.footer-tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $--tab-bar-height;
  background: $--tab-bar-bg-color;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: env(safe-area-inset-bottom);

  &-item {
    width: 100%;
    height: 100%;
    display: flex;
    gap: $--tab-bar-item-gap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--icon {
      font-size: $--tab-bar-icon-font-size;
    }

    &--text {
      font-size: $--tab-bar-text-font-size;
    }
  }
}

.active-tab-bar {
  color: $--tab-bar-text-active-color;
}
